*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    height: 100vh;
    position: relative;
    background-color: darkorchid;
}

#slideShow{
    position: absolute;
    width: 900px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkblue;
}

.slide{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.hidden{
    display: none;
}